.reset__btn-del{
    background-color: rgb(242, 78, 98);
    height: 40px;
    width: max-content;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    transition: background-color 0.2s ease-in-out 0s;
    padding: 5px 40px;
}
.reset__btn-del:hover{
    background-color: rgb(217, 70, 88);
}