.body {
    height: 100vh;
    padding-top: 80px;
}
#video{
    z-index: 500;
    width: 600px;
}
.sound {
    display: flex;
    position: absolute;
    top: 40px;
    right: 25px;
    width: 200px;
    margin: 0 6px;
    color: rgba(255, 255, 255, 0.5);
    /* cursor: pointer; */
    z-index: 20;
}

.mouseover {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 150px;
    margin: 0 6px;
    color: rgba(255, 255, 255, 0.5);
    /* cursor: pointer; */
}

.volumeContrl {
    /* margin: 0 20px; */
    height: 30px;
    width: 30px;
    margin-bottom: 0px;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out 0s;
}

.volumeContrl:hover {
    opacity: 1;
}

.volumeController {
    width: 123px;
    visibility: hidden;
    opacity: 0.5;
    margin: 0 15px;
}

.volumeController-active {
    visibility: visible;
    opacity: 0.5;
    margin-right: 19px;
    transition: opacity 0.2s ease-in-out 0s;
}

.volumeController-active:hover {
    opacity: 1;
}

.PlayMasterVolumeController {
    cursor: pointer;
}

svg {
    z-index: 12;
    margin-bottom: 7px;
}

input[type=range] {
    z-index: 11;
    -webkit-appearance: none;
    padding: 12.8px 0;
    background-color: transparent !important;
    width: 100%;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    /* color: black; */
}

input[type=range]::-webkit-slider-thumb {
    border: 7px solid white;
    border-radius: 20px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    cursor: pointer;
    box-shadow: 2.4px 2.4px 6.2px rgba(7, 7, 163, 0.72), 0px 0px 2.4px rgba(8, 8, 187, 0.72);
    background: #ac62ff;
    border-radius: 21.6px;
    border: 1px solid rgba(163, 0, 255, 0.79);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 2.4px 2.4px 9.5px rgba(4, 16, 14, 0.78), 0px 0px 2.4px rgba(9, 36, 32, 0.78);
    border: 1.8px solid rgba(0, 0, 6, 0.77);
    border-radius: 28px;
    background: #ffff29;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #a758ff;
    border: 1px solid rgba(163, 0, 255, 0.79);
    border-radius: 43.2px;
    box-shadow: 2.4px 2.4px 6.2px rgba(7, 7, 163, 0.72), 0px 0px 2.4px rgba(8, 8, 187, 0.72);
}

input[type=range]::-ms-fill-upper {
    background: #ac62ff;
    border: 1px solid rgba(163, 0, 255, 0.79);
    border-radius: 43.2px;
    box-shadow: 2.4px 2.4px 6.2px rgba(7, 7, 163, 0.72), 0px 0px 2.4px rgba(8, 8, 187, 0.72);
}

input[type=range]::-ms-thumb {
    box-shadow: 2.4px 2.4px 9.5px rgba(4, 16, 14, 0.78), 0px 0px 2.4px rgba(9, 36, 32, 0.78);
    border: 1.8px solid rgba(0, 0, 6, 0.77);
    border-radius: 28px;
    background: #ffff29;
    cursor: pointer;
}

/* Track */

input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
}

input[type=range]::-moz-range-track {
    height: 2px;
}

input[type=range]::-ms-track {
    height: 2px;
}

/* Thumb */

input[type=range]::-webkit-slider-thumb {
    height: 14x;
    width: 14px;
}

input[type=range]::-moz-range-thumb {
    height: 14x;
    width: 14px;
}

input[type=range]::-ms-thumb {
    height: 14x;
    width: 14px;
}

.input {
    visibility: hidden;
    position: relative;
}

/* input::before{
    content: '';
    background: #fff;
    left: -58px;
    height: 2px;
    width: 64px;
    display: block;
    position: absolute;
} */

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 84px auto auto;
}

.standart, .premium {
    max-width: 592px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
}

#pro {
    color: #5ee5b5;
    cursor: pointer;
}

.tooltip-active:hover .card {
    opacity: 1;
    transition: 0.1s;
}

.tooltip-active:hover .mask {
    /* opacity: 0; */
    transition: 0.1s;
}

.tool {
    --tooltip-color: white;
    position: absolute;
    display: block;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    background: var(--tooltip-color);
    color: #7b7b7b;
    padding: 1rem;
    border-radius: .6rem;
    text-align: center;
    width: max-content;
    font-size: 0.9em;
    box-shadow: 1px 4px 37px 1px rgba(34, 60, 80, 0.2);
    transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    visibility: hidden;
}

.tooltip-active:hover .tool {
    top: -100px;
    opacity: 1;
    visibility: visible;
}

.tool::before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: var(--tooltip-color);
    top: 80px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

#text {
    user-select: none;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
}

.card {
    position: relative;
    height: 100px;
    width: 100px;
    cursor: pointer;
    margin: 0 24px 50px 24px;
    color: rgba(255, 255, 255);
    opacity: 0.5;
    transition: 0.7s;
}

.card:hover {
    opacity: 1;
    transition: 0.7s;
}

.active {
    opacity: 1;
}

audio {
    width: 115px;
    height: 25px;
}

audio::-webkit-media-controls-panel {
    -webkit-justify-content: center;
    height: 25px;
}

/* Removes the timeline */

audio::-webkit-media-controls-timeline {
    display: none !important;
}

/* Removes the time stamp */

audio::-webkit-media-controls-current-time-display {
    display: none;
}

audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

audio::-webkit-media-controls-play-button {
    display: none
}

audio::-webkit-media-controls-volume-slider-container {
    display: block
}