.playListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 160px; */
    height: 200px;
    text-align: initial;
    width: 534px;
    margin: 0 auto;
}

.playList__list {
    display: flex;
    height: 160px;
}

.playList__wrap {
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: inherit;
    margin: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 4px;
    cursor: pointer;
    height: 128px;
}

.playList__card {
    position: relative;
}

.playList__card-container, .playList__card-container-active {
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    width: 170px;
    height: 108px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 22px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}

.playList__card-container::before {
    content: "";
    position: absolute;
    inset: 0px;
    border: 0px;
    border-radius: 22px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0s;
}

.playList__card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playList__card-container:hover, .playList__card-container-active {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 10px 0px;
}

.playList__card-background-1, .playList__card-background-2, .playList__card-background-1-active, .playList__card-background-2-active {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0s;
}

.playList__card-container:hover .playList__card-background-1, .playList__card-container:hover .playList__card-background-2, .playList__card-background-1-active, .playList__card-background-2-active {
    opacity: 0.3;
}

.playList__card-background-1, .playList__card-background-1-active {
    width: 142px;
    top: -5px;
}

.playList__card-background-2, .playList__card-background-2-active {
    width: 114px;
    top: -9px;
}

.playList__card-background-1::before, .playList__card-background-1-active::before {
    content: "";
    margin-top: 1px;
    width: 142px;
    height: 108px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.66);
    position: absolute;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 1px 0px;
}

.playList__card-background-2::before, .playList__card-background-2-active::before {
    content: "";
    margin-top: 1px;
    width: 114px;
    height: 108px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 1px 0px;
}

.next {
    /* display: inline-flex; */
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 500;
    border-radius: 13px;
    border-width: 0px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out 0s;
    line-height: 15px;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.15);
    /* width: 50px;
    height: 26px; */
    padding: 5px 11px;
    /* padding: 0px; */
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: flex;
    align-items: center!important;
    justify-content: center!important;
    margin-top: 8px;
}

.next:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.playList__card-background-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

@media (max-width: 591px) {
    .playListContainer {
        padding-left: calc(((100vw - 290px) / 2) - 4px);
        width: 100%;
    }
    .playList1{
        width: 100%;
    }
    .playList__list{
        overflow-x: scroll;
    }
}